.query-entry {
    width: 90vw;
    resize: none;
    height: 80vh
}
.query-div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.query-form{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.query-form [type=button]{
    display: block;
    margin-left: auto;
    margin-right: auto;
}